doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Shop
        style  
             include ./main.css
             inlcude ./product.css
       
    body 
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a.active(href="/") Shop
                    li.main-header__item
                        a(href="/add-product") Add Product
        main
            if prods.length > 0
                .grid
                    each product in prods
                        article.card.product-item
                            header.card__header
                                h1.product__title #{product.title}
                            div.card__image
                                img(src="https://www.shutterstock.com/image-vector/cute-saving-piggy-bank-on-260nw-1790217575.jpg", alt="A Book")
                            div.card__content
                                h2.product__price 500 INR
                                p.product__description It's an amazing Product
                            .card__actions
                                button.btn Add to Cart
            else
                h1 No Products
        
           
